djf/src/main/java/ru/smartflex/djf/model/ItemInputType-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="ru/smartflex/djf/model" xmlns:ct="ru/smartflex/djf/model"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ru/smartflex/djf/model">

	<xs:include schemaLocation="AttributeTypes-1.0.xsd" />

	<xs:complexType name="ItemInputType">

		<xs:attribute name="enabled" type="ct:AttrEnabledType" />
		<xs:attribute name="bind" type="ct:AttrBindType" />
		<xs:attribute name="accessible" type="ct:AttrAccessibleType" />
		<xs:attribute name="align" type="ct:AttrAlignType" />
		<xs:attribute name="tips" type="ct:AttrTipsType" />

	</xs:complexType>

</xs:schema>