djf/src/main/java/ru/smartflex/djf/model/ItemCheckboxType-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="ru/smartflex/djf/model" xmlns:ct="ru/smartflex/djf/model"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ru/smartflex/djf/model">

	<xs:include schemaLocation="ItemCheckboxBaseType-1.0.xsd" />
	<xs:include schemaLocation="AttributeTypes-1.0.xsd" />

	<xs:complexType name="ItemCheckboxType">

		<xs:complexContent>
			<xs:extension base="ItemCheckboxBaseType">
				<xs:attributeGroup ref="AttrFieldType"/>
				<xs:attribute name="text" type="ct:AttrTextType" />
				<xs:attribute name="belong" type="ct:AttrBelongType" />
			</xs:extension>
		</xs:complexContent>

	</xs:complexType>

</xs:schema>