djf/src/main/java/ru/smartflex/djf/model/ItemButtonRunType-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="ru/smartflex/djf/model" xmlns:ct="ru/smartflex/djf/model"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ru/smartflex/djf/model">

	<xs:include schemaLocation="AttributeTypes-1.0.xsd" />

	<xs:complexType name="ItemButtonRunType">

		<xs:attributeGroup ref="AttrFieldType"/>
		<xs:attribute name="tips" type="ct:AttrTipsType" />
		<xs:attribute name="form" type="ct:AttrFormType" />
		<xs:attribute name="accessible" type="ct:AttrAccessibleType" />

	</xs:complexType>

</xs:schema>