djf/src/main/java/ru/smartflex/djf/model/ItemGridPhoneType-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="ru/smartflex/djf/model"
	xmlns:ct="ru/smartflex/djf/model" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="ru/smartflex/djf/model">

	<xs:include schemaLocation="ItemPhoneBaseType-1.1.xsd" />
	<xs:include schemaLocation="AttributeTypes-1.0.xsd" />

	<xs:complexType name="ItemGridPhoneType">

		<xs:complexContent>
			<xs:extension base="ItemPhoneBaseType">
				<xs:attribute name="width" type="ct:AttrWidthType" />
				<xs:attribute name="title" type="ct:AttrTitleType" />
				<xs:attribute name="noResize" type="ct:AttrEnabledType" />				
			</xs:extension>
		</xs:complexContent>

	</xs:complexType>

</xs:schema>