djf/src/main/java/ru/smartflex/djf/model/ItemRadioType-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="ru/smartflex/djf/model" xmlns:ct="ru/smartflex/djf/model"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ru/smartflex/djf/model">

	<xs:include schemaLocation="AttributeTypes-1.3.xsd" />

	<xs:complexType name="ItemRadioType">

		<xs:attribute name="text" type="ct:AttrTextType" />
		<xs:attribute name="command" type="ct:AttrCmdType" />
		<xs:attribute name="selected" type="xs:boolean" />
		<xs:attribute name="order" type="ct:AttrOrderType" />

	</xs:complexType>

</xs:schema>