djf/src/main/java/ru/smartflex/djf/model/LayoutType-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="ru/smartflex/djf/model"
	xmlns:ct="ru/smartflex/djf/model" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="ru/smartflex/djf/model">

	<xs:include schemaLocation="MethParamType-1.0.xsd" />
	<xs:include schemaLocation="AttributeTypes-1.3.xsd" />
	
	<xs:complexType name="LayoutType">
		<xs:sequence>
			<xs:element name="param" type="ct:MethParamType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="clazz" type="ct:AttrClazzType" use="required" />
	</xs:complexType>

</xs:schema>