djf/src/main/java/ru/smartflex/djf/model/SeparatorType-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="ru/smartflex/djf/model" xmlns:ct="ru/smartflex/djf/model"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ru/smartflex/djf/model">

	<xs:include schemaLocation="AttributeTypes-1.2.xsd" />

	<xs:complexType name="SeparatorType">

		<xs:attribute name="constraint" type="ct:AttrConstraintType" />
		<xs:attribute name="accessible" type="ct:AttrAccessibleType" />
		<xs:attribute name="vertical" type="xs:boolean" />

	</xs:complexType>

</xs:schema>